* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
     
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100%;
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px;
    gap: 20px;
    transition: color 0.3s ease;
}

.logo {
    font-weight: 800;
    font-family: sans-serif;
    margin-left: 50px;
    line-height: 2rem;
    font-size: 1.0rem;
}

.sports {
    color: #059669;
}
.nav_links a, li  {
    text-decoration: none;
    list-style: none;
    color: black;
}

 a:hover{
    color: #059669;
    transition: color 0.3 ease;
}

.image_sect {
    height: 20px;
    margin-bottom: 500px;
}


.image_container {          
    background-image: url(photo-png.avif);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
}


.pill{
    display: inline-block;
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    font-size: 0.75rem;
    color: #059669;
    border-radius: 999px;
    background-color: hsla(161, 70%, 73%, 0.615);
    letter-spacing: 0.02em;
    margin-top: 50px;
    margin-bottom: 2rem;
}

.img_text {
    margin-left: 30px;
}

.img_text h1 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.2;
    color: #ffffff;
    max-width: 700px;
    margin-bottom: 1rem;
}

.img_text p{
    font-size: 1rem;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pry_btn{
    background-color: #059669;
    color: #ffffff;
    margin-right: 15px;
    border: 2px solid #059669;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-family: cursive;
    transition: all 0.3s ease;
}

.pry_btn:hover{
    background-color: #057652;
    border: none;
    color: #ffffff;
    transition: all 0.3s ease;
}


.sdy_btn{
    display: inline-block;
    border: 2px solid #059669;
    text-decoration: none;
    padding: 12px 12px;  
    border-radius: 8px;
    color: aliceblue;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3 ease;

}
