* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
     
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-weight: 800;
    font-family: sans-serif;
}

.sports {
    color: #059669;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}